/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
*{
margin: 0;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
/***** Header nav/menu ******/

nav  {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav img {
    width: 32%;
    padding-top: 30px;  

}
.nav-menu a {
    text-decoration: none;
}
a:visited {
    color: black;
}
.nav-menu a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;  
}
nav div {
    display:flex;
    align-self: baseline; 
    gap: 68px;

}
.nav-menu a {
    border-top:2px solid white;
    padding-top:16px;
}
/***** Header Vacance de rêve******/

.vacances-and-dream h1{
    margin-bottom: 8px;
}
.vacances-and-dream{   
    display:flex;
    flex-direction: column;
    gap:37.5px;
}

/***** Formulaire Recherche *****/

.search {
    max-width: 377px;
    height: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;


}
.logo-search, 
.site-search,
.button-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #F2F2F2;
}
.logo-search {
    background-color: #F2F2F2;
    width: 14%;
    border-radius: 15px 0px 0px 15px;
}
.search i {
    color: black;
    border:1px solid #F2F2F2;
}

.site-search input {
    width: 195px;
    font-size: 18px;
    padding:14px 0px 14px 0px;
    text-decoration: none;
    border:none;
    text-align: center;
    font-weight: bold;
    outline: none;
}
.button-search {
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    border-color: #0065FC;
    width: 42%;
}
.button-search input {
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    text-align: center;
    border: none;
}

/******  Filtres *****/

.filter {
    max-width: 758px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-start;
    align-items: center;
    gap: 15px;
    padding-bottom: 37.5px;


}
.filter p {
    font-size: 18px;
    font-weight: bold;
}
.filter button{
    background-color: white;
    border-radius: 25px;
    border: 2px solid #F2F2F2;
    font-size: 17px;
    font-weight: bold;
    padding: 0;
}
.nugget {
    width: 161px;
    height: 50px;
}
.romantic {
    width: 171px;
    height: 50px;
}
.romantic i {
    padding-right: 10px;
}
.family {
    width: 131px;
    height: 50px;
}
.family i{
    padding-right: 14px;
}
.economy {
    width: 171px;
    height: 50px;
}
.economy i {
    padding-right: 10px;
}
.nugget i {
    padding-right: 4px;
}
.filter button:hover{
    background-color: #DEEBFF;
}
.information {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.information i {
    border-radius: 50% ;
    border: 1px solid #F2F2F2;
    padding: 5px 10px 5px 10px;
}


/******* Fin Filtre *****/
/*******Hébergements à Marseille******/
.card-marseille img{
    object-fit: cover ;
    width: 96%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 5px;
    margin-left: 5px;

}
.card-marseille {
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 207px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.hebergements a {
    text-decoration: none;
}
.title-marseille {
    margin-top:4px;
    margin-left:15px
}
.title-marseille h3 {
    padding-bottom: 8px;
}
.title-marseille p {
    padding-bottom: 8px;
}
.hebergements h2 {
    margin-bottom: 30px;
}
.main-container {
    width: 100%; 
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
.hebergements-marseille {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:30px;
}
.section-card-title {
    display: flex;
    flex-wrap: wrap;
}

.end-marseille{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}
.activities-marseille h2 {
    margin-bottom: 30px;
}

/**** Fin hébergement à Marseille ****/

/**** Activités Marseille****/
.card-activities{
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    width: 297px;

}
.card-activities img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px ;
}
.title-activities {
     margin: 20px;
}
.fa-solid {
    color: var(--main-color);
}
.neutral-star {
    color: #F2F2F2;
}

.card-activities-marseille {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
body {
    display: flex;
    justify-content: center;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between; 
    margin-top: 37.5px;
    margin-bottom: 65px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

nav{
    display: flex;
    flex-direction: column;
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
nav img {
    display: flex;
    align-items: center;
}

}